<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="error-wrapper">
        <h1>OOPS!!</h1>
            <%if(error){%>
                <div><%=message%></div>
                <%}else{%>
                    <div>Page not found</div> 
                    <%}%>
        
    </div>
</body>
</html>