<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-box">
    A 4-digit OTP will be sent to your Registered Email ID in case your Email Id is valid. The Otp will be valid for 15 minutes
    <form class="form" action="/api/user/forgot-password" method="POST">
        <input type="text" name="username" placeholder="Enter your Username" required/>
        <input class="sub-btn" type="submit" value="Get OTP">
    </form>
    </div>
</body>
</html>