<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>A Registered OTP will be sent to your Registered Email ID in case your Email Id is valid. The Otp will be valid for 15 minutes</div>
    <form action="/api/user/forgot-password" method="POST">
        <input type="text" name="username" placeholder="Enter your Username" required/>
    </form>
</body>
</html>