<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Signup</title>
</head>
<body>
    <div class="form-box">
    <form class="form" action="/api/user/signup" method="POST">
        <input type="text" name="username" placeholder="Enter your Username" required>
        <input type="text" name="email" placeholder="Enter your Email" required>
        <input type="password" name="password" placeholder="Enter your Password" required>
        <input type="password" name="Confpassword" placeholder="Confirm your Password" required>
        <input class="sub-btn" type="submit" value="Sign Up">
    </form>
    <div class="link"><a href="/api/user/login">Already have an account?</a></div>
    </div>
</body>
<script src="script.js"></script>
</html>